.profile {
  padding: 5rem;
  display: grid;
  grid-row-gap: 3rem;
  align-content: start;

  @media only screen and (max-width: 68.75em) {
    grid-column: 2 / -1;
  }

  @media only screen and (max-width: 40em) {
    grid-column: 1 / -1;
    justify-items: center;
    padding: 0;
  }

  &__item {
    width: 30rem;
    height: 30rem;

    @media only screen and (max-width: 21em) {
      width: 20rem;
      height: 20rem;
    }

    @media only screen and (max-width: 15em) {
      width: 10rem;
      height: 10rem;
    }
  }

  &__img {
    @extend %imageDefault;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  &__description {
    @media only screen and (max-width: 46em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      text-align: center;

      &--tag {
        margin-top: 0.8rem;
      }
    }

    @media only screen and (max-width: 32em) {
      grid-template-columns: 1fr;
    }
  }

  &__suggestion {
    &--container {
      display: flex;
    }

    &--item {
      width: 5rem;
      height: 7rem;
      margin-right: 1rem;

      &:last-child {
        position: relative;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &--img {
      @extend %imageDefault;
      transform: scale(1.05);

      &:hover {
        transform: scale(1);
      }
    }

    &--link {
      text-decoration: none;
      color: $color-light;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 46em) {
      text-align: center;
    }
  }
}
