body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.heading-1 {
  font-size: calc(2rem + 1vw);
  font-weight: 700;
}

.heading-2 {
  font-weight: 700;
  font-size: calc(1.6rem + 0.7vw);
}

.heading-3 {
  font-size: calc(1.5rem + 0.4vw);
}

.heading-4 {
  font-size: calc(1.2rem+ 0.3vw);
}

.paragraph {
  font-size: calc(1.4rem + 0.25vw);
  color: $color-grey-light;
}
