body {
  background-image: linear-gradient(
    to bottom right,
    #120a69e1,
    rgb(123, 171, 224),
    #120a69e1
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
form {
  width: fit-content;
  height: fit-content;
  padding: 3% 10% 5% 2%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.233),
    inset 0px 0px 10px 5px rgb(5, 217, 245);
  display: block;
  border: solid black 2px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 0;
  border-radius: 2ex;
}

input {
  border-radius: 1ex;
  box-shadow: 0px 0px 10px 5px white;
  display: inline;
  border: none;
  width: 130%;
  height: 2.5em;
  background-color: black;
  margin-bottom: 5%;
  color: white;
  text-indent: 2%;
  font-size: 1em;
  padding: 2%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
input:focus {
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.233);
}
.signupbtn {
  margin-top: 1rem;
  margin: auto;
  display: block;
  background: rgb(0, 0, 0);
  border: none;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.233);
  color: white;
  border-radius: 0.5ex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  cursor: pointer;
  padding: 0.8rem 2rem;
}
.signupbtn:hover {
  box-shadow: 0px 0px 10px 5px black;
  background: white;
  color: black;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease; 
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.headText {
  font-family: "SparkX";
  font-size: 5em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #160202;
}
@font-face {
  font-family: "SparkX";
  src: local("Lovely Font"), local("Lovely-Font"),
    url("sparkx font.ttf") format("opentype");
}
@font-face {
  font-family: "Register";
  src: local("Lovely Font"), local("Lovely-Font"),
    url("RedThinker-Light-Italic.ttf") format("opentype");
}
@font-face {
  font-family: "Name";
  src: local("Lovely Font"), local("Lovely-Font"),
    url("Beastfom.ttf") format("opentype");
}
.registerText{
  font-size: 3em;
  text-align:center;
  font-family: "Register";
  margin: -10% 0 5% 30% ;
  text-shadow: 2px 2px 2px white;
}

.name{
  margin-left: 5%;
  font-family: "Name";
  color: white;
  font-size: 2em;
}